:root {
    --main-color:#9B5015;
    --sub-color:#cdb98d;
    --light-color:#fff;
}

.lang_icon{
	border-left: 1px solid var(--main-color);
}

.lang_icon img{ width: 27px; margin-right: 5px }

.fixed-bg-primary.fixed-top, .nav-primary-hover.nav-line-active .navbar-nav .active>.nav-link:before, .nav-primary-hover.nav-down-line-active .navbar-nav .active>.nav-link:before, .bg-primary{ width: 35px; background-color: #ddb60f !important;  }
.post-content h2{ font-size: 1.2rem }
.news .thumb-blog-horizontal img{ height: 200px; object-fit: cover; width: 100%; }
.news .thumb-blog-horizontal .post-content p{ height: 65px; overflow: hidden; line-height: 1.4rem; margin-bottom: .5rem }
.iteam-product .thumbnail-img img{ height: 250px; width: 100%; object-fit: cover; }

h1.listing-title{ font-size: 1.7rem; line-height: 48px; }
h2.heading-title{
    font-size: 1.3rem; border-bottom: 1px solid #ddd; padding-bottom: 0px; line-height: 38px; position: relative;
    padding-top: 120px;
    margin-top: -120px;
    /* display: inline-block; */
    z-index: 0;
}
h2.heading-title::after {
    content: '';
    position: absolute;
    height: 1px;
    background-color: var(--sub-color);
    width: 40px;
    left: 0;
    bottom: -1px;
}
.project .content{
    text-align: justify;
    color: #000;
    position: relative;
    z-index: 1;
}
.listing-price span{
    font-size: 1rem;
    font-weight: 100;
}
.product-offers ul li{
    /*position: relative;*/
}
.product-offers>ul>li:before {
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    text-decoration: inherit;
    vertical-align: middle;
    margin-right: 10px;
    color: var(--theme-primary-color);
}
.product-offers>ul>li:before {
    content: "\f02b";
}

.post h1{
    font-size: 1.6rem;
    line-height: 2rem;
    position: relative;padding-bottom: 6px;border-bottom: 1px solid #ddd;
    color: #0c5dad !important;
}
.post h1:after{
    content: '';
    position: absolute;
    width: 150px;
    height: 2px;
    background: #0c5dad;
    bottom: -1px;
    left: 0;
}
.post-desc{
    font-style: italic;
}
.header-style-1 .nav-primary-hover .navbar-nav .nav-link:hover{
    color: #212529 !important;
}
.nav-primary-hover .navbar-nav .nav-link{
    position: relative;
    display: flex;
    align-items: center;
}
.nav-primary-hover .navbar-nav .nav-link:hover:before{
    content: '';
    position: absolute;
    height: 2px;
    width: 35px;
    background: #ffc107;
    bottom: 16px;
}
.lang_icon .nav-link:hover:before{
    content: none !important;
}
.header-style-1 .nav-primary-hover .navbar-nav .active>.nav-link{
    color: #212529 !important;
}

.nav-white .navbar-nav .nav-link{ color: #212529 !important; }

.content ul li{
    list-style: circle;
    margin-left: 20px;
}

.content blockquote ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.content blockquote ul li{
    width: 47%;
}

.property-grid-1 .listing-title{
    position: relative;
    margin-bottom: 10px;
    margin-bottom: 7px !important;
    padding-bottom: 3px;
}
.property-grid-1 .listing-title:after{
    position: absolute;
    content: '';
    width: 50px;
    height: 2px;
    left: 0px;
    bottom: 0px;
    background: #ddb60f;
}
.img-col-3{
    height: 250px;
}
.post-content h2 a{
    font-size: 1.1rem;
    line-height: 1.6rem;
}
.thumb-blog-horizontal .post-image {
    width: 37%;
}
.thumb-blog-horizontal .post-content {
    width: 63%;
}
.inner-page-banner h1{ font-size: 2rem }
.widget_recent_property li img{
    width: 120px;height: auto;
}
.sicky-70{
    position: sticky;
    top: 70px;
}
.sicky-120{
    position: sticky;
    top: 120px;
}
.menuproject{
    background: #e9ecef;z-index: 2;
}
.post-content img{ height: auto !important; }
.post-content p{ text-align: justify; }
.post-content h2{ line-height: 1.7rem }

.line-1 {
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 1;
}
.line-2 {
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
}

.news-home .post-image img{ height: 250px; object-fit: cover; border-radius: 10px 10px 0px 0px }
.news-home h4{ font-size: 1rem; line-height: 1.3rem; }
.news-home .owl-carousel .owl-nav button.owl-next span {right: -35px;}
.news-home .owl-carousel .owl-nav button.owl-prev span{ left: -35px }
.news-home .owl-carousel .owl-nav button span {margin-top: -40px;}

/*.bg-secondary{ background: url(../img/bg-dichvu.png) no-repeat; background-size: cover; }*/

.border-radius {
    box-shadow: 0px 4px 10px rgba(51,51,51,0.15);
    border-radius: 20px;
}

.border-radius-10 {
    box-shadow: 0px 1px 9px rgb(51 51 51 / 10%);
    border-radius: 10px;
}
.secondary .col a{ position: relative; overflow: hidden; }
.secondary .col a:after{ position: absolute;
    bottom: -100px; 
    content: "";
    height: 100%;background: linear-gradient(to bottom, #32323200 0%, #32323200, #f48120 100%);
    width: 100%; z-index: 1;
    opacity: 0;
    transition: .5s all ease-out;
}
.secondary h4{
    color: #f58220; font-size: .9rem; position: absolute;bottom: 0; z-index: 2; color: #fff; padding-bottom: 10px;
    text-transform: uppercase;
}
.secondary .col a:hover:after{
    opacity: 1;
    bottom: 0;
}
.project-home h2{ text-align: center; margin-bottom: 20px; }
.title-line{ position: relative; }
.title-line:after{
    content: '';
    position: absolute;
    bottom: -10px;
    height: 2px;
    width: 100px;
    background: var(--main-color);
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}
.info-tgd{ background: #f2f2f2; }
.tgd{ position: relative; padding-top: 20px; padding-right: 30px; text-align: justify; }
.tgd:after{
    content: url(../img/pattern-1.png);
    position: absolute;
    top: 20px;
    right: 20px;

}
.banlanhdao .item{ background: #fff; text-align: center; }
.banlanhdao .item img{ height: 313px; object-fit: cover; }
.banlanhdao .item h3{ font-size: 1.3rem; margin-top: 20px; line-height: 1.3rem; }
.banlanhdao .item p{ font-size: 1rem; padding-bottom: 10px; color: #f5821f }
.home_slider .item img{ height:80vh; object-fit:cover; width:100% }

.section-1 .flex-center {justify-content: flex-end;}
.section-1 .home-content h2{ color:var(--main-color); font-size:1.8rem; text-align:center; }
.section-1 .home-content h3{ color:#000; font-size:1.4rem; text-align:center; }
.section-1 .home-content p{ text-align:justify; color:#000; font-size:1.1rem }
.img80 img{ width:80% !important; margin:0 auto; }

.flex-center{ align-items: center; }

.nav-on-banner{ position:sticky !important; top:0px; background: url(../../img/bg.png); background-repeat: no-repeat; background-size: cover; }

.dd23423{ background:#cdb98d;  }
.sss24234{ text-align:center; }
.sss24234 h2{ text-align:center; color:var(--main-color); font-size:1.6rem; text-transform:uppercase; }
.sss24234 p{ font-size:1.1rem }
.dd234234{ padding:30px }
.dd234234 h3{ text-align:center; color: #9B5015;  }
.dd234234 p{ color: #000;  }
.dd234234 .button{ text-align:center; }
.button button{ background:#9B5015; color:#fff; border:none; border-radius:3px; padding:5px 20px; }
.aaa333{ background:var(--main-color); padding:30px; color:#fff; text-align:justify; }
.aaa333 h2{ color:#fff; font-size:1.6rem; text-align:center; }
.aaa333 p{ font-size:1.1rem }
.aaa333 .button button{ background:#fff; color:var(--main-color); font-weight:bold; }
.aaa333 .button { text-align:center; }

.section_3 .item{ position:relative; }
.section_3 .item .sss111{ position:absolute; top:70px; left:70px; z-index:99; width:40% }
.img100{ width:100% !important }
/* Style the tab */
.tab {
  overflow: hidden;
  display: flex;
    justify-content: space-between;
}
.tab button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  color: #9B5015; 
  width: 100%;
  border-bottom:3px solid #ddd; font-weight: bold;
}
.tab button:hover, .tab button.active {
  border-bottom: #9B5015 3px solid;
}
.tabcontent {
  display: none;
}

.navigation-thumbs{ margin-top:-80px }
.navigation-thumbs .item{ padding:10% }

.RRRR333{ position:relative; }
.RRRR333 .button{ position:absolute; z-index:99; bottom:20px; left:0; right:0; text-align:center; }

@media screen and (min-width: 768px){.container-50 {max-width: 340px;}}
@media screen and (min-width: 992px){.container-50 {max-width: 460px;}}
@media screen and (min-width: 1200px){.container-50 {max-width: 570px;}}
@media screen and (min-width: 1320px){.container-50 {max-width: 600px;}}
@media screen and (min-width: 1400px){.container-50 {max-width: 640px;}}
@media screen and (min-width: 1500px){.container-50 {max-width: 640px;}}

/*swiper-container*/
.swiper-container {position: relative;height: 400px;}
.swiper-container > .swiper-slide__content {position: absolute;top: 0;}
.swiper-slide {height: 400px;display: flex;align-items: center;justify-content: center;transition: all 200ms linear;transform: scale(0.8);}
.swiper-slide.swiper-slide-active {transform: scale(1);}
.swiper-slide__content {height: 300px;}
.swiper-slide{ position:relative; }
.swiper-slide .button{ position:absolute; bottom:65px }
.swiper-slide .button button{ color:var(--main-color); background: #fff}
/*swiper-container*/

.section_6 .img img { height:400px; width:100%; object-fit:cover; }

.section_7 .item{ margin:2px }
.section_7 .item img{ border-radius:10px 10px 0px 0px; height:180px; width:100%; object-fit:cover; }
.section_7 .item .info{ padding:10px }
.section_7 .item h3{ color:var(--main-color); font-size:1rem; line-height:1.3rem }
.section_7 .item p{line-height: 1.3rem}
.section_7 .button{ text-align: center; }

footer{ margin:0; padding:0 }
.bg-footer{ background-color:var(--sub-color) !important; }

.footer_1 .col-md-7{ background: url(../../img/z4739940258021_e75f70406d432333b1f3a50a5176ecdd.jpg); }
.footer_1 .col-md-5{ background: url(../../img/7_2.jpg); }
.footer_1 .form{ padding:50px; color:#fff; text-align:center; }
.footer_1 .form h4{ color:#fff; font-size:1.2rem }

.footer_2{ background-color:#9b501533; }
.footer_2 .col-md-5{ background: url(../../img/bg-2.jpg); }
.footer_2 .logo_footer { text-align:center; color:#000 }
.footer_2 .logo_footer img{ width:250px; margin-bottom:20px }
.footer_2 .address h3{ font-size:1.3rem }
.footer_2 .address .dd222{ display:flex; align-items: center; margin-bottom:20px }
.footer_2 .address .dd222 .icon{ width:10% }
.footer_2 .address .dd222 img{ width:100%; }
.footer_2 .address .dd222 p{ line-height:1.2rem; margin-left:6px; width:90% }

.category{ display:flex; flex-direction: column; align-items: center; justify-content: center; height: 350px; z-index:99 }

.about_1{}

.info-button{ display:flex; margin-top:20px }

.content_1 h1{ font-size:1.5rem; color:var(--main-color); }
.news_1 h2{ font-size:1.5rem; color:var(--main-color); line-height:1.7rem; margin-top:50px }
.news_1 h3{ font-size:1.2rem; color:var(--main-color); }
.content_1 p{ line-height:1.5rem; margin-bottom:7px }

.news_slider img{ height:500px !important }

.text-justify{ text-align:justify; }

.post h1{ color:var(--main-color) !important; font-size:1.7rem; margin-bottom:20px }
.post h2{ font-size:1.3rem; line-height:1.7rem; margin-bottom:15px }
.post p{ font-size:1rem; line-height:1.7rem; margin-bottom:10px; text-align:justify; }
.post img{ width:auto !important; height:auto!important; }

.ggg44 h2{ font-size:1.7rem; color:var(--main-color); font-weight:bold; }
.ggg44 p{ font-size:1.3rem; color:var(--main-color); }

.item_news img{ border-radius: 10px 10px 0px 0px }
.item_news h2{ text-align:center; font-size:1.5rem; color:var(--main-color); line-height:1.5rem; margin-top:10px }
.item_news .detail{ text-align:justify; }
.text-truncate-set-2 {-webkit-line-clamp: 2;}
.text-truncate-set-2 {-webkit-line-clamp: 2;}
.text-truncate-set-3 {-webkit-line-clamp: 3;}
.text-truncate-set {display: -webkit-box !important;-webkit-box-orient: vertical;overflow: hidden;}

.background_black{ position:relative; }
.background_black:after{position: absolute;content: ''; width: 100%; height: 100%; top: 0; background: #00000059;}
.h234{ height:234px; object-fit:cover; width:100% }

.img234{ width:auto; height:80px; padding: 10px 30px}
.img234 img{ height:80px; width: auto;}

.text-center{ text-align:center !important; }
.text-center p{ text-align:center !important; }

.bg-main{ background:#cb986626 }

.sanpham{ background:#fff; padding-bottom:15px; margin-bottom:20px }
.sanpham img{ width:100%; height:360px; object-fit:cover; }
.sanpham h3{ margin-top:10px; color: var(--main-color); }
.sanpham p{ margin-bottom:0px; font-size:1.1rem }
.sanpham button{ margin-top:10px }
.sanpham strong{ font-size:1.5rem; color: var(--main-color); }

.color-white{ color: white; }
.color-black{ color: black; }
.size12{ font-size:1.2rem }

.bg9b5015{ background: #9b5015; }

.owl-carousel .owl-dots{ margin-top:0px }